name: Continuous Integration
on: [push]                      # Will make the workflow run every time you push to any branch

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest      # Sets the build environment a machine with the latest Ubuntu installed
    steps:
    - uses: actions/checkout@v2 # Adds a step to checkout the repository code

    - name: Build and test DotNet
      uses: Elskom/build-dotnet@v1.1.1

    - name: TypeScript install
      working-directory: ./DotnetTemplate.Web
      run: npm install

    - name: TypeScript build
      working-directory: ./DotnetTemplate.Web
      run: npm run build

    - name: Linter run
      working-directory: ./DotnetTemplate.Web
      run: npm run lint

    - name: Typescript run tests
      working-directory: ./DotnetTemplate.Web
      run: npm t

  slack-workflow-status:
    if: always()
    name: Post workflow status to Slack 
    needs: 
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Slack Workflow Notification
        uses: come25136/workflow-notification-for-slack@main
        with:
          # Required Input
          repo_token: ${{secrets.REPO_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
          # Optional Input
          # channel: '#workflows'
          # name: 'Anthony Workflow Bot'
          # icon_emoji: ':poop:'
          # icon_url: 'https://avatars0.githubusercontent.com/u/1701160?s=96&v=4'
